.pizzas-list {
  display: flex;
  flex-direction: column;

  &-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(0 0 0 / 12%);
    border-radius: 9px;

    &__size {
      margin-bottom: 10px;
    }

    &__toppings {
      border: 0.5px solid rgb(255 0 0 / 50%);
      border-radius: 10px;
      padding: 3px 7px;
      margin-right: 10px;
      font-size: 16px;
      background-color: rgb(255 0 0 / 12%);
      color: red;
    }
  }
}
